import 'package:injectable/injectable.dart';

@lazySingleton
class EnvVariables {
  Map<String, dynamic> get oxfordAPIDetails => {
        'developer': {
          'app_id': 'someValue',
          'app_key': 'someValue',
        },
      };
}
